
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-MediumItalic.eot');
        src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
            url('/src/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-MediumItalic.woff') format('woff'),
            url('/src/Roboto/Roboto-MediumItalic.ttf') format('truetype');
        font-weight: 500;
        font-style: italic;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-Italic.eot');
        src: local('Roboto Italic'), local('Roboto-Italic'),
            url('/src/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-Italic.woff') format('woff'),
            url('/src/Roboto/Roboto-Italic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-Bold.eot');
        src: local('Roboto Bold'), local('Roboto-Bold'),
            url('/src/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-Bold.woff') format('woff'),
            url('/src/Roboto/Roboto-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-Regular.eot');
        src: local('Roboto'), local('Roboto-Regular'),
            url('/src/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-Regular.woff') format('woff'),
            url('/src/Roboto/Roboto-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-Medium.eot');
        src: local('Roboto Medium'), local('Roboto-Medium'),
            url('/src/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-Medium.woff') format('woff'),
            url('/src/Roboto/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-BoldItalic.eot');
        src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
            url('/src/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-BoldItalic.woff') format('woff'),
            url('/src/Roboto/Roboto-BoldItalic.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-ThinItalic.eot');
        src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
            url('/src/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-ThinItalic.woff') format('woff'),
            url('/src/Roboto/Roboto-ThinItalic.ttf') format('truetype');
        font-weight: 100;
        font-style: italic;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-Black.eot');
        src: local('Roboto Black'), local('Roboto-Black'),
            url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
            url('Roboto-Black.woff') format('woff'),
            url('Roboto-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-Light.eot');
        src: local('Roboto Light'), local('Roboto-Light'),
            url('/src/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-Light.woff') format('woff'),
            url('/src/Roboto/Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-LightItalic.eot');
        src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
            url('/src/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-LightItalic.woff') format('woff'),
            url('/src/Roboto/Roboto-LightItalic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-BlackItalic.eot');
        src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
            url('/src/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-BlackItalic.woff') format('woff'),
            url('/src/Roboto/Roboto-BlackItalic.ttf') format('truetype');
        font-weight: 900;
        font-style: italic;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/src/Roboto/Roboto-Thin.eot');
        src: local('Roboto Thin'), local('Roboto-Thin'),
            url('/src/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
            url('/src/Roboto/Roboto-Thin.woff') format('woff'),
            url('/src/Roboto/Roboto-Thin.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    

